*{
    color: black;
}
body {
    background-image: url("../TrabalhoMafra/Fundo_site-ConversImagem.jpg");
    background-position: center;
    width: 0px auto;
    height: 0px auto;
}

h1 {
    text-align: center;
    display: block;
    font-size: 40px;
    font-family: Helvetica;
    color: rgb(44, 255, 2);
}
.redes{
    color: rgb(252, 227, 0);
}
h2 {
    margin: 10px;
    color: rgb(218, 181, 19);;
    font-family: Helvetica;
}
h3{
    margin: 15px;
    color: whitesmoke;
    font-family: Helvetica;
}
details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
}

summary {
    color: red;
    font-weight: bold;
    font-size: 25px;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

details[open] {
    padding: 0.5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}
/*Icon/images*/
.iconCard{
    width: 150px;
    border-radius: 10px;
}
.icon {
    display: block;
    border-radius: 200px;
    width: 200px;
    height: 200px;
}
.iconlogo{
    width: 350px;
    height: 350px;
}
/*divs*/
.logo{
    display: flex;
    justify-content: space-around;
    border-radius: 10px; 
    width: 0px auto;
    height: 0px auto;
}

.produto{
    display: flex;
}

.botoes {
    background-color: rgba(71, 70, 70, 0);
    display: flex;
    justify-content: space-evenly;
}
.conteudo{
    margin: 100px;
    display: block;
    background-color: rgba(71, 70, 70, 0.95);
}

a {
    width: fit-content;
    height: fit-content;
}